*{
    box-sizing: border-box;
}
.btn{
    width: 180px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    outline: none;
}
.btn-solid{
    background: #2c374e;
    color: #fff;
    border: none;
}
.btn-border{
    background: none;
    border: 1px solid #2c374e;
    color: #2c374e;
}
.btn-sm{
    width: 180px;
}
.btn-md{
    width: 206px;
}
.btn-lg{
    width: 264px;
}
.btn-none {
    border: none;
    background: none;
    outline: none;
}