.footer
 ul
    li
        a(href="mailto:info@makinahub.com") info@makinahub.com
        a(href="tel:00123456789") 001 234 567 89
    p &copy; copyright 2017 makinahub all Rights Reserved
    li.footer-right
        a(href="#") Terms of Services
        a(href="#") Privacy Policy

    