.header.clearfix
 h1
    a(href="#")
        img(src="images/logo.png" alt="Makinahub logo" class="header-logo")
 nav.header__user-area
    button(type="button" onclick="myFunction()" class="dropbtn") User Name
        #myDropdown.dropdown-content 
            img(src="#" alt="avatar")
            a(href="#") Edit Profile                                                            
            a(href="#") Log Out
 nav.header-center
    ul.header__order--list
        li
            a(href="#" class="hf-text") Rentals
        li
            a(href="#" class="hf-text") Message
        li
            a(href="#" class="hf-text") Machines
        li
            a(href="#" class="hf-text") Accounts
        li
            a(href="#" class="hf-text") Settings
